<table class="table table-dark table-striped">
        
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Manzana</th>
        <th>Lote</th>
        <th>Isla</th>
        <th>Teléfono</th>
        <th>Rol</th>
        
      </tr>  
    </thead>

    <tbody id="tabla">
      <% if (typeof usuarios !== 'undefined') { %>
        <% data.forEach(user => { %>
          tr>
          <td><%= user.id %></td>
          <td><%= user.nombre %></td>
          <td><%= user.email %></td>
          <td><%= user.manzana %></td>
          <td><%= user.lote %></td>
          <td><%= user.isla %></td>
          <td><%= user.telefono %></td>
          <td><%= user.rol %></td>
        
              <td>
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-primary">Eliminar</button>  
              </td>
            </tr>
          <% }) %>
          <% } %>
        </tbody>
  
  </table>