<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
</head>

<body class="container">

  <header>
    <%- include('partials/header'); %>
  </header><br><br>


  <main class="container-fluid">

    <section id="admin-panel">
    <h1>Panel de Administración</h1>

    
    <div>
      <button id="usuariosButton" class="btn btn-primary" data-tab="users" >Usuarios</button>
      <button id="editar" class="btn btn-primary" data-tab="users" >Editar</button>
      <button id="actualizar" data-tab="users" class="btn btn-primary" >actualizar</button>
      <table class="table table-dark table-striped">
        
        <thead>
          <tr>
            <th style="display: none">ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Manzana</th>
            <th>Lote</th>
            <th>Isla</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Acción</th>
            
          </tr>  
        </thead>
    
        <tbody id="tabla">
          <% if (typeof data !== 'undefined') { %>
            <% data.forEach(usuario => { %>
              tr>
              <td style="display: none"><%= usuario.id %></td>
              <td><%= usuario.nombre %></td>
              <td><%= usuario.email %></td>
              <td><%= usuario.manzana %></td>
              <td><%= usuario.lote %></td>
              <td><%= usuario.isla %></td>
              <td><%= usuario.telefono %></td>
              <td><%= usuario.rol %></td>
              <td><select name="accion" id="accion">
                <option value="editar">Editar</option>
                <option value="eliminar">Eliminar</option>
              </select></td>
            
                  <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-primary">Eliminar</button>  
                  </td>
                </tr>
              <% }) %>
              <% } %>
            </tbody>
      
      </table>
     
    </div>

      <div>
        <button id="reservasButton" class="tab-content" data-tab="reservations">Reservas</button>
      </div>
      <div>
        <%- include('partials/reservasRead.ejs'); %>
    </div>
    
   

      <button class="btn btn-primary">Agregar Usuario</button>
    </div>
  </section>

     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="<KEY>"
        crossorigin="anonymous"></script>
       <script src="../controllers/admin.js"></script>
       <script src="../js/admin.js"></script> </script>
       
  </main>


  <footer>

    <%- include('partials/footer'); %>
  </footer>

</body>

</html>