<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
</head>

<body class="container">

  <header>
    <%- include('partials/header'); %>
  </header><br><br>


  <main class="container-fluid">

    <section id="admin-panel">
    <h1>Panel de Administración</h1>

    <!-- Tab menu -->
    <div>
      <button id="usuariosButton" class="tab-content active" data-tab="users">Usuarios</button>
      
      <button id="reservasButton" class="tab-content" data-tab="reservations">Reservas</button>
    </div>

    <!-- Contenido de tabs -->
    <div id="contenidoUsuarios">
      <!-- Aquí se mostrará la información de usuarios -->
    </div>
    <div id="contenidoReservas" style="display: none;">
      <!-- Aquí se mostrará la información de reservas -->
    </div>
    <div class="tab-content active" data-content="users">
      <!-- Table listing users -->
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Manzana</th>
            <th>Lote</th>
            <th>Isla</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>  
        </thead>

        <tbody id="tabla">
          <% usuarios.forEach(user => { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.nombre %></td>
              <td><%= user.email %></td>
              <td><%= user.manzana %></td>
              <td><%= user.lote %></td>
              <td><%= user.isla %></td>
              <td><%= user.telefono %></td>
              <td><%= user.rol %></td>
              <td>
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-primary">Eliminar</button>  
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <button class="btn btn-primary">Agregar Usuario</button>
    </div>
  </section>

     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="<KEY>"
        crossorigin="anonymous"></script>
      <script src="../controllers/admin.js"></script>
      <script src="public/js/admin.js"></script>
    
  </main>


  <footer>

    <%- include('partials/footer'); %>
  </footer>

</body>

</html>