<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
</head>
<body class="container">

<header>
    
</header><br><br>

<main class="container-fluid">
        
    <div>
            <h1>Actualizar Usuario</h1>
           
        </div>
            <form action="/admin/usuarios/editar/<%= usuarios.id %>?_method=PUT" method="POST" nctype="application/x-www-form-urlencoded">
               
                <div class="elem-group">
                    
                    <label for="nombre">Nombre y Apellido</label> 
                    <input type="text" id="nombre" name="nombre" value="<%= usuarios.nombre %>" pattern=[A-Z\sa-z]{3,20} > 
                </div>
                
    
                <div class="elem-group">
                        <label for="email">Correo electrónico</label> 
                        <input type="email" id="email" name="email" value="<%= usuarios.email %>" > 
                </div>
    
                <div>
                    <label for="manzana">Manzana</label>
                    <input type="number" id="manzana" name="manzana" value="<%= usuarios.manzana %>" maxlength="2" class="input-number">
                    <label for="lote">Lote</label>
                    <input type="number" id="lote" name="lote" value="<%= usuarios.lote %>"  maxlength="3" class="input-number">
                    <label for="isla">Isla</label>
                    <input type="number" id="isla" name="isla" value="<%= usuarios.isla %>"  maxlength="3" class="input-number">
                    </div>
    
                    <div>
                        <label for="codigoPais">Código de País</label>
                        <select id="codigoPais" name="codigoPais">
                            
                            <option value="+54">Argentina (+54)</option>
                            <option value="+598">Uruguay (+598)</option>
                            <option value="+55">Brasil (+55)</option>
                            <option value="+56">Chile (+56)</option>
                            <option value="+57">Colombia (+57)</option>
                            <option value="+1">EE. UU. (+1)</option>
                            <option value="+1">Canadá (+1)</option>
                            <option value="+52">México (+52)</option>
                            <option value="+34">España (+34)</option>
                            <option value="+44">Reino Unido (+44)</option>
                            <option value="+49">Alemania (+49)</option>
                            <option value="+33">Francia (+33)</option>
                            <option value="+39">Italia (+39)</option>
                            <option value="+41">Suiza (+41)</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>   
                    <label for="tel">Teléfono</label>
                    <input type="text" id="tel" name="tel" value="<%= usuarios.telefono%>" >
                    <label for="rol" >Seleccione</label>
                    <select name="rol" id="rol" class="rol">
                        <option value="propietario" selected>Propietario</option>
                        <option value="inquilino">inquilino</option>
                    </select>
               
                    
                    <div style="display: inline;">
                        <input type="submit" class="btn btn-outline-success" value="Actualizar">
                        <a href="/admin" class="btn btn-warning">Cancel</a>
                    </div>
            </form>
        </div> 
       
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title:'<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton: <%=showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location = '/<%= ruta %>'
            })
            </script>
    <% } %>
            
</main>

<footer>
    <%- include('partials/footer'); %>

</footer>

</body>
</html>